/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 24px;
}

h1,
h2 {
    text-align: center;
}

.playlist {
    background-color: rgb(255, 255, 255);
    padding: 16px 20px;
    border-radius: 10px;
    margin: 16px auto;
    max-width: 680px;
}

.playlist ul {
    margin: 0;
    padding: 0;
}

.playlist li {
    list-style-type: none;
    padding: 4px 0;
}

.playlist a {
    text-decoration-line: none;
    color: #000000;
}

.player_one,
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 16px 20px;
    border-radius: 10px;
    margin: 16px auto;
    max-width: 680px;
}

.player_one video,
.player_two audio {
    width: 100%;
    display: block;
}